[
    {
        "name": "Cyclone Socket", // Give a name to your test in TrustInSoft CI
        "files": [
            "src/system_stm32f7xx.c",
            "src/stm32f7xx_it.c",
            "src/syscalls.c",
            "src/debug.c",
            "src/common/cpu_endian.c",
            "src/common/os_port_freertos.c",
            "src/common/date_time.c",
            "src/common/str.c",
            "src/cyclone_tcp/core/net.c",
            "src/cyclone_tcp/core/net_mem.c",
            "src/cyclone_tcp/core/net_misc.c",
            "src/cyclone_tcp/drivers/mac/stm32f7xx_eth_driver.c",
            "src/cyclone_tcp/drivers/phy/lan8742_driver.c",
            "src/cyclone_tcp/core/nic.c",
            "src/cyclone_tcp/core/ethernet.c",
            "src/cyclone_tcp/core/ethernet_misc.c",
            "src/cyclone_tcp/ipv4/arp.c",
            "src/cyclone_tcp/ipv4/ipv4.c",
            "src/cyclone_tcp/ipv4/ipv4_frag.c",
            "src/cyclone_tcp/ipv4/ipv4_misc.c",
            "src/cyclone_tcp/ipv4/icmp.c",
            "src/cyclone_tcp/ipv4/igmp.c",
            "src/cyclone_tcp/ipv6/ipv6.c",
            "src/cyclone_tcp/ipv6/ipv6_frag.c",
            "src/cyclone_tcp/ipv6/ipv6_misc.c",
            "src/cyclone_tcp/ipv6/ipv6_pmtu.c",
            "src/cyclone_tcp/ipv6/icmpv6.c",
            "src/cyclone_tcp/ipv6/mld.c",
            "src/cyclone_tcp/ipv6/ndp.c",
            "src/cyclone_tcp/ipv6/ndp_cache.c",
            "src/cyclone_tcp/ipv6/ndp_misc.c",
            "src/cyclone_tcp/ipv6/slaac.c",
            "src/cyclone_tcp/core/ip.c",
            "src/cyclone_tcp/core/tcp.c",
            "src/cyclone_tcp/core/tcp_fsm.c",
            "src/cyclone_tcp/core/tcp_misc.c",
            "src/cyclone_tcp/core/tcp_timer.c",
            "src/cyclone_tcp/core/udp.c",
            "src/cyclone_tcp/core/socket.c",
            "src/cyclone_tcp/core/bsd_socket.c",
            "src/cyclone_tcp/core/raw_socket.c",
            "src/cyclone_tcp/dns/dns_cache.c",
            "src/cyclone_tcp/dns/dns_client.c",
            "src/cyclone_tcp/dns/dns_common.c",
            "src/cyclone_tcp/dns/dns_debug.c",
            "src/cyclone_tcp/mdns/mdns_client.c",
            "src/cyclone_tcp/mdns/mdns_responder.c",
            "src/cyclone_tcp/mdns/mdns_common.c",
            "src/cyclone_tcp/netbios/nbns_client.c",
            "src/cyclone_tcp/netbios/nbns_responder.c",
            "src/cyclone_tcp/netbios/nbns_common.c",
            "src/cyclone_tcp/llmnr/llmnr_client.c",
            "src/cyclone_tcp/llmnr/llmnr_responder.c",
            "src/cyclone_tcp/llmnr/llmnr_common.c",
            "src/cyclone_tcp/dhcp/dhcp_client.c",
            "src/cyclone_tcp/dhcp/dhcp_common.c",
            "src/cyclone_tcp/dhcp/dhcp_debug.c",
            "src/cyclone_tcp/ftp/ftp_client.c",
            "src/cyclone_tcp/ftp/ftp_client_transport.c",
            "src/cyclone_tcp/ftp/ftp_client_misc.c",
            "src/third_party/freertos/portable/gcc/arm_cm7/r0p1/port.c",
            "src/third_party/freertos/croutine.c",
            "src/third_party/freertos/list.c",
            "src/third_party/freertos/queue.c",
            "src/third_party/freertos/tasks.c",
            "src/third_party/freertos/timers.c",
            "src/third_party/freertos/portable/memmang/heap_3.c",
            "src/third_party/st/boards/stm32f769i_discovery/stm32f769i_discovery.c",
            "src/third_party/st/boards/stm32f769i_discovery/stm32f769i_discovery_audio.c",
            "src/third_party/st/boards/stm32f769i_discovery/stm32f769i_discovery_eeprom.c",
            "src/third_party/st/boards/stm32f769i_discovery/stm32f769i_discovery_lcd.c",
            "src/third_party/st/boards/stm32f769i_discovery/stm32f769i_discovery_qspi.c",
            "src/third_party/st/boards/stm32f769i_discovery/stm32f769i_discovery_sd.c",
            "src/third_party/st/boards/stm32f769i_discovery/stm32f769i_discovery_sdram.c",
            "src/third_party/st/boards/stm32f769i_discovery/stm32f769i_discovery_ts.c",
            "src/third_party/st/boards/components/ft6x06/ft6x06.c",
            "src/third_party/st/boards/components/otm8009a/otm8009a.c",
            "src/third_party/st/boards/components/wm8994/wm8994.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_adc.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_adc_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_can.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_cec.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_cortex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_crc.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_crc_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_cryp.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_cryp_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dac.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dac_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dcmi.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dcmi_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dfsdm.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dma.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dma_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dma2d.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_dsi.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_eth.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_flash.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_flash_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_gpio.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_hash.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_hash_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_hcd.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_i2c.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_i2c_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_i2s.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_irda.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_iwdg.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_jpeg.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_lptim.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_ltdc.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_ltdc_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_mdios.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_nand.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_nor.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_pcd.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_pcd_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_pwr.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_pwr_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_qspi.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_rcc.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_rcc_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_rng.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_rtc.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_rtc_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_sai.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_sai_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_sd.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_sdram.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_smartcard.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_smartcard_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_spdifrx.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_spi.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_sram.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_tim.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_tim_ex.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_uart.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_usart.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_hal_wwdg.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_ll_fmc.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_ll_sdmmc.c",
            "src/third_party/st/drivers/stm32f7xx_hal_driver/src/stm32f7xx_ll_usb.c",
            "src/tests/t_socket.c"
        ], // List all the .c and .cpp source files used by the test
        "compilation_cmd": "-I./src -I./src/third_party/cmsis/include -I./src/third_party/st/devices/stm32f7xx -I./src/third_party/st/drivers/stm32f7xx_hal_driver/inc -I./src/third_party/st/boards/stm32f769i_discovery -I./src/third_party/freertos/include -I./src/third_party/freertos/portable/gcc/arm_cm7/r0p1 -I./src/common -I./src/cyclone_tcp -I./src/cyclone_ssl -I./src/cyclone_crypto -DSTM32F769xx -DUSE_HAL_DRIVER -DUSE_STM32F769I_DISCO -D_WINSOCK_H -D__error_t_defined" // Include all the compilation command options like if you were to compile the test
    }
]