[
    {
        "name": "Cyclone Socket", // Give a name to your test in TrustInSoft CI
        "files": [
            "src/system_stm32f7xx.c",
            "src/stm32f7xx_it.c",
            "src/debug.c",
            "src/common/cpu_endian.c",
            "src/common/os_port_freertos.c",
            "src/common/date_time.c",
            "src/common/str.c",
            "src/cyclone_tcp/core/net.c",
            "src/cyclone_tcp/core/net_mem.c",
            "src/cyclone_tcp/core/net_misc.c",
            "src/cyclone_tcp/drivers/mac/stm32f7xx_eth_driver.c",
            "src/cyclone_tcp/drivers/phy/lan8742_driver.c",
            "src/cyclone_tcp/core/nic.c",
            "src/cyclone_tcp/core/ethernet.c",
            "src/cyclone_tcp/core/ethernet_misc.c",
            "src/cyclone_tcp/ipv4/arp.c",
            "src/cyclone_tcp/ipv4/ipv4.c",
            "src/cyclone_tcp/ipv4/ipv4_frag.c",
            "src/cyclone_tcp/ipv4/ipv4_misc.c",
            "src/cyclone_tcp/ipv4/icmp.c",
            "src/cyclone_tcp/ipv4/igmp.c",
            "src/cyclone_tcp/ipv6/ipv6.c",
            "src/cyclone_tcp/ipv6/ipv6_frag.c",
            "src/cyclone_tcp/ipv6/ipv6_misc.c",
            "src/cyclone_tcp/ipv6/ipv6_pmtu.c",
            "src/cyclone_tcp/ipv6/icmpv6.c",
            "src/cyclone_tcp/ipv6/mld.c",
            "src/cyclone_tcp/ipv6/ndp.c",
            "src/cyclone_tcp/ipv6/ndp_cache.c",
            "src/cyclone_tcp/ipv6/ndp_misc.c",
            "src/cyclone_tcp/ipv6/slaac.c",
            "src/cyclone_tcp/core/ip.c",
            "src/cyclone_tcp/core/tcp.c",
            "src/cyclone_tcp/core/tcp_fsm.c",
            "src/cyclone_tcp/core/tcp_misc.c",
            "src/cyclone_tcp/core/tcp_timer.c",
            "src/cyclone_tcp/core/udp.c",
            "src/cyclone_tcp/core/socket.c",
            // "src/cyclone_tcp/core/bsd_socket.c",
            "src/cyclone_tcp/core/raw_socket.c",
            "src/cyclone_tcp/dns/dns_cache.c",
            "src/cyclone_tcp/dns/dns_client.c",
            "src/cyclone_tcp/dns/dns_common.c",
            "src/cyclone_tcp/dns/dns_debug.c",
            "src/cyclone_tcp/mdns/mdns_client.c",
            "src/cyclone_tcp/mdns/mdns_responder.c",
            "src/cyclone_tcp/mdns/mdns_common.c",
            "src/cyclone_tcp/netbios/nbns_client.c",
            "src/cyclone_tcp/netbios/nbns_responder.c",
            "src/cyclone_tcp/netbios/nbns_common.c",
            "src/cyclone_tcp/llmnr/llmnr_client.c",
            "src/cyclone_tcp/llmnr/llmnr_responder.c",
            "src/cyclone_tcp/llmnr/llmnr_common.c",
            "src/cyclone_tcp/dhcp/dhcp_client.c",
            "src/cyclone_tcp/dhcp/dhcp_common.c",
            "src/cyclone_tcp/dhcp/dhcp_debug.c",
            "src/cyclone_tcp/ftp/ftp_client.c",
            "src/cyclone_tcp/ftp/ftp_client_transport.c",
            "src/cyclone_tcp/ftp/ftp_client_misc.c",
            "src/third_party/freertos/croutine.c",
            "src/third_party/freertos/list.c",
            "src/third_party/freertos/queue.c",
            "src/third_party/freertos/tasks.c",
            "src/third_party/freertos/timers.c",
            "src/third_party/freertos/portable/memmang/heap_3.c",
            "src/tests/t_socket.c"
        ], // List all the .c and .cpp source files used by the test
        "compilation_cmd": "-I./src -I./src/third_party/cmsis/include -I./src/third_party/st/devices/stm32f7xx -I./src/third_party/st/drivers/stm32f7xx_hal_driver/inc -I./src/third_party/st/boards/stm32f769i_discovery -I./src/third_party/freertos/include -I./src/third_party/freertos/portable/gcc/arm_cm7/r0p1 -I./src/common -I./src/cyclone_tcp -I./src/cyclone_ssl -I./src/cyclone_crypto -DSTM32F769xx -DUSE_HAL_DRIVER -DUSE_STM32F769I_DISCO -D_WINSOCK_H -D__error_t_defined" // Include all the compilation command options like if you were to compile the test
    }
]